<?xml version="1.0" encoding="utf-8"?>
<module loadLocalBin="false" clientResourceRelativePath="1.1.1" type="EPiServer.Shell.Modules.ShellModule, EPiServer.Shell">
  <assemblies>
    <add assembly="EPiServer.Cms.AddOns.Blocks" />
  </assemblies>
  <routes>
    <route controllerPrefix="EPi">
      <defaults>
        <add key="controller" value="Home" />
        <add key="action" value="Index" />
        <add key="id" value="" />
      </defaults>
    </route>
  </routes>
  <clientResources>
    <add name="OptimizingBlock" path="ClientResources/epi-cms-addons-blocks/themes/sleek/packaged.css" resourceType="Style" />
    <add name="OptimizingBlock" path="ClientResources/epi-cms-addons-blocks/packaged.js" resourceType="Script" />
  </clientResources>
  <dojo>
    <paths>
      <add name="epi-cms-addons-blocks" path="ClientResources/epi-cms-addons-blocks" />
    </paths>
  </dojo>
  <clientModule initializer="epi-cms-addons-blocks.BlocksModule">
    <moduleDependencies>
      <add dependency="CMS" />
      <add dependency="Shell" />
    </moduleDependencies>
    <requiredResources>
      <add name="OptimizingBlock" />
    </requiredResources>
  </clientModule>
</module>