{{#if context.loggedIn}}
    <div class="button-inner">
        {{#if ready}}
            <a data-bb="shareAction" href="#">Share Reservation</a>
        {{else}}
            <img src="/images/dot_load.gif" />
        {{/if}}
    </div>
{{/if}}