<div class="row-fluid">
    <div class="span6">
        <div class="row-fluid">
            <div class="span8">
                <h3>{{performance.title}}</h3>
                <p>{{performance.performanceDate}}</p>
            </div>
        </div>
    </div>
    <div class="span6">
        <p class="lead">Share my reservation with...</p>
		{{#if bag.loadingFriends}}
			<p><img src="/images/ajax-loader-squares.gif" /> Loading Friends...</p>
		{{/if}}
        <div data-replace="friendSelection"></div>
    </div>
</div>
<hr />
<div class="row-fluid">
    <div class="span12 clearfix">
        <a href="#" class="btn pull-right" data-action="save">
            <i class="icon-save"></i>
            Save
        </a>
        <a href="#" class="btn btn-warning disabled pull-right" data-bb="saving">
            <i class="icon-reload"></i>
            Saving...
        </a>
        <a href="#" class="btn btn-success disabled pull-right" data-bb="saved">
            <i class="icon-ok"></i>
            Saved
        </a>
    </div>
</div>