.syos-cart-body {overflow:auto; max-height:300px;}
.syos-legend {max-width: 250px;}
/*.syos-accessible-seat span {background-image:url('/Global/SYOS/wheelchair.png');}*/
.syos-accessible-companion-seat div {
    font-family: Arial, Helvetica, sans-serif;
}
/*font-family:'Knockout 51 A', 'Knockout 51 B';}*/

.syos-level-slider{ display:none;}
.syos-seat-tooltip-view {display:none !important;}
#syosFullScreenToggle {
    display: none !important;
}