
{{#if context.loggedIn}}
    <span>Experience enhanced with Facebook integration. <a href="#" data-bb="logoutButton">logout</a></span>
{{else}}
    <span><a href="#" data-bb="loginButton">Login to Facebook</a> to enhance & share your experience</span>
{{/if}}