/* Adage Custom FastUpload Style */

#overlay { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: #000; opacity: .5; filter: alpha(opacity=50); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; z-index: 998; }
#extraData { position: absolute; top: 12px; left: 50%; width: 400px; padding: 15px 20px; background: #fff; margin-left: -220px; z-index: 999; -webkit-box-shadow: 0 0 50px rgba(0,0,0,.5); -moz-box-shadow: 0 0 50px rgba(0,0,0,.5); box-shadow: 0 0 50px rgba(0,0,0,.5); overflow: hidden; }
#extraData > h4 { padding-bottom: 10px; }
#extraData .fields > div > label, #extraData .fields > div > span { display: inline-block; width: 25%; }
#extraData .fields input[type=text], #extraData .fields textarea, #extraData .fields > div > span + div { display: inline-block; vertical-align: top; width: 71%; padding: 3px 1%; margin-bottom: 10px; }
#extraData .fields > div > span + div { padding: 0; width: 73%; }
#extraData .performances input[type=text], #extraData .artists input[type=text] { width: 90%; }
#extraData .fields textarea { min-height: 7em; }
.FMB-DialogContent { padding: 0 5px 10px 10px; }
