<connectionStrings>
  <clear />
  <add name="EPiServerDB" connectionString="Data Source=pt-web-staging;Initial Catalog=PublicTheater_EpiServer_7;Integrated Security=False;User ID=PublicTheaterUser;Password=Pub1!cT#3@t3r;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <add name="AdageTheaterRelationshipManagerEntities" connectionString="metadata=res://*/AdageTheaterRelationshipManager.csdl|res://*/AdageTheaterRelationshipManager.ssdl|res://*/AdageTheaterRelationshipManager.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=pt-web-staging;initial catalog=PublicTheaterRelationshipManager;persist security info=True;user id=PublicTheaterUser;password=Pub1!cT#3@t3r;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="JoesPubDataEntities" connectionString="metadata=res://*/JoesPubDataEntities.csdl|res://*/JoesPubDataEntities.ssdl|res://*/JoesPubDataEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql2012;initial catalog=joespub;persist security info=True;user id=PublicTheaterUser;password=Pub1!cT#3@t3r;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>