<episerver.framework>
  <scanAssembly forceBinFolderScan="true" />
  <siteHostMapping>
    <siteHosts siteId="PublicTheater">
      <add name="*" />
      <add name="hzhou:17004" />
      <add name="publictheater.adagetechnologies.com" />
      <add name="staging.publictheater.org" />
    </siteHosts>
  </siteHostMapping>
  <automaticSiteMapping>
    <add key="/LM/W3SVC/22/ROOT:HZHOU" siteId="PublicTheater" />
    <add key="/LM/W3SVC/39/ROOT:HZHOU" siteId="PublicTheater" />
    <add key="/LM/W3SVC/56/ROOT:SCICERO" siteId="PublicTheater" />
    <add key="/LM/W3SVC/49/ROOT:NBAIEL" siteId="PublicTheater" />
    <add key="/LM/W3SVC/59/ROOT:SCICERO" siteId="PublicTheater" />
    <add key="/LM/W3SVC/21/ROOT:DBOLAND" siteId="PublicTheater" />
    <add key="2091a60d:DBOLAND" siteId="PublicTheater" />
    <add key="/LM/W3SVC/49/ROOT:RNOFFSINGER" siteId="PublicTheater" />
    <add key="/LM/W3SVC/50/ROOT:RNOFFSINGER" siteId="PublicTheater" />
    <add key="33afc7fd:RNOFFSINGER" siteId="PublicTheater" />
    <add key="/LM/W3SVC/51/ROOT:RNOFFSINGER" siteId="PublicTheater" />
    <add key="/LM/W3SVC/52/ROOT:RNOFFSINGER" siteId="PublicTheater" />
    <add key="/LM/W3SVC/53/ROOT:RNOFFSINGER" siteId="PublicTheater" />
    <add key="/LM/W3SVC/61/ROOT:SCICERO" siteId="PublicTheater" />
    <add key="/LM/W3SVC/43/ROOT:HYANG" siteId="PublicTheater" />
    <add key="/LM/W3SVC/46/ROOT:CMAGEE" siteId="PublicTheater" />
    <add key="/LM/W3SVC/62/ROOT:SCICERO" siteId="PublicTheater" />
    <add key="/LM/W3SVC/47/ROOT:CMAGEE" siteId="PublicTheater" />
    <add key="/LM/W3SVC/48/ROOT:HZHOU" siteId="PublicTheater" />
    <add key="/LM/W3SVC/21/ROOT:SHUBBARD" siteId="PublicTheater" />
    <add key="/LM/W3SVC/46/ROOT:HYANG" siteId="PublicTheater" />
    <add key="/LM/W3SVC/48/ROOT:ZMARKS" siteId="PublicTheater" />
    <add key="/LM/W3SVC/54/ROOT:NBAIEL" siteId="PublicTheater" />
    <add key="/LM/W3SVC/17/ROOT:DBOLAND" siteId="PublicTheater" />
    <add key="/LM/W3SVC/59/ROOT:ZMARKS" siteId="PublicTheater" />
    <add key="/LM/W3SVC/41/ROOT:HYANG" siteId="PublicTheater" />
    <add key="/LM/W3SVC/17/ROOT:SHUBBARD" siteId="PublicTheater" />
    <add key="/LM/W3SVC/17/ROOT:EHAYMAN" siteId="PublicTheater" />
    <add key="/LM/W3SVC/19/ROOT:IXU" siteId="PublicTheater" />
    <add key="/LM/W3SVC/35/ROOT:KAZIZ" siteId="PublicTheater" />
    <add key="/LM/W3SVC/124/ROOT:NMARTIN" siteId="PublicTheater" />
    <add key="/LM/W3SVC/31/ROOT:DENDERS" siteId="PublicTheater" />
    <add key="/LM/W3SVC/11/ROOT:PAPPLEBY" siteId="PublicTheater" />
    <add key="/LM/W3SVC/29/ROOT:PT-IT01" siteId="PublicTheater" />
    <add key="/LM/W3SVC/32/ROOT:PT-IT01" siteId="PublicTheater" />
    <add key="/LM/W3SVC/52/ROOT:HZHOU" siteId="PublicTheater" />
    <add key="/LM/W3SVC/67/ROOT:DBOLLINGER" siteId="PublicTheater" />
    <add key="/LM/W3SVC/89/ROOT:HZHOU" siteId="PublicTheater" />
    <add key="/LM/W3SVC/76/ROOT:KDUBER" siteId="PublicTheater" />
    <add key="/LM/W3SVC/46/ROOT:PT-IT01" siteId="PublicTheater" />
  </automaticSiteMapping>
  <virtualPathProviders>
    <clear />
    <add virtualPath="~/epi/" physicalPath="[appDataPath]\Modules"
      name="ProtectedAddons" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider, EPiServer.Framework" />
    <add showInFileManager="true" virtualName="Page Files" virtualPath="~/PageFiles/"
      bypassAccessCheck="false" indexingServiceCatalog="Web" useRouting="true"
      customFileSummary="~/FileSummary.config" name="SitePageFiles"
      type="EPiServer.Web.Hosting.VirtualPathVersioningProvider, EPiServer" />
    <add showInFileManager="true" virtualName="Global Files" virtualPath="~/Global/"
      bypassAccessCheck="false" indexingServiceCatalog="Web" useRouting="true"
      customFileSummary="~/FileSummary.config" name="SiteGlobalFiles"
      type="EPiServer.Web.Hosting.VirtualPathVersioningProvider, EPiServer" />
    <add showInFileManager="true" virtualName="Documents" virtualPath="~/Documents/"
      bypassAccessCheck="false" maxVersions="5" useRouting="true"
      customFileSummary="~/FileSummary.config" name="SiteDocuments"
      type="EPiServer.Web.Hosting.VirtualPathVersioningProvider, EPiServer" />
    <add virtualPath="~/App_Themes/Default/" physicalPath="C:\Program Files (x86)\EPiServer\CMS\7.0.586.1\application\App_Themes\Default"
      useRouting="true" name="App_Themes_Default" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider, EPiServer.Framework" />
    <add virtualPath="~/epi/CMS/" physicalPath="C:\Program Files (x86)\EPiServer\CMS\7.0.586.1\application\UI\CMS"
      name="UI" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider, EPiServer.Framework" />
    <add virtualPath="~/Util/" physicalPath="C:\Program Files (x86)\EPiServer\CMS\7.0.586.1\application\util"
      name="UtilFiles" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider, EPiServer.Framework" />
    <add virtualPath="~/WebServices/" physicalPath="C:\Program Files (x86)\EPiServer\CMS\7.0.586.1\application\webservices"
      name="WebServiceFiles" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider, EPiServer.Framework" />
    <add showInFileManager="true" virtualName="JoesPub Joomla" virtualPath="~/joespubwww/"
      physicalPath="\\ftp\FTPClients\publictheater\joesPub\httpsdocs55\httpdocs"
      useRouting="true" name="joespubwww" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider, EPiServer.Framework" />
  </virtualPathProviders>
  <virtualRoles replacePrincipal="true">
    <providers>
      <add name="Administrators" type="EPiServer.Security.WindowsAdministratorsRole, EPiServer.Framework" />
      <add name="Everyone" type="EPiServer.Security.EveryoneRole, EPiServer.Framework" />
      <add name="Authenticated" type="EPiServer.Security.AuthenticatedRole, EPiServer.Framework" />
      <add name="Anonymous" type="EPiServer.Security.AnonymousRole, EPiServer.Framework" />
      <add roles="WebAdmins, Administrators" mode="Any" name="PackagingAdmins"
        type="EPiServer.Security.MappedRole, EPiServer.Framework" />
      <add roles="WebAdmins, Administrators" mode="Any" name="CmsAdmins"
        type="EPiServer.Security.MappedRole, EPiServer.Framework" />
      <add roles="WebEditors" mode="Any" name="CmsEditors" type="EPiServer.Security.MappedRole, EPiServer.Framework" />
      <add name="Creator" type="EPiServer.Security.CreatorRole, EPiServer" />
    </providers>
  </virtualRoles>
  <geolocation defaultProvider="maxmind">
    <providers>
      <add databaseFileName="C:\Program Files (x86)\EPiServer\Framework\7.0.859.1\Geolocation\GeoLiteCity.dat"
        name="maxmind" type="EPiServer.Personalization.Providers.MaxMind.GeolocationProvider, EPiServer.ApplicationModules" />
    </providers>
  </geolocation>
  <appData basePath="\\pt-web-staging\content" />
</episerver.framework>
