@media (min-width:#{$large-media-query-size}) {
    

     /* Helper Text to see what media Query is being used */
     .helper:after{content: "LARGE";}    

     .dropdown { display:none!important;}

     .mobileCalendar{display:none;}

     .mobileLogin{display:none;}
     
     .mobileHome{display:none!important;}

     .interiorPage .generalContentWrapper{min-height:350px;}  
}