<ul>
    {{#each reservations}}
        <li class="friend">
            <div class="clearfix">
                <div class="pull-left thumb-wrap">
                    <img src="http://graph.facebook.com/{{friendId}}/picture" alt="{{friend.name}}"/>
                </div>
                <div class="pull-left">
                    <p class="row-title">{{friend.name}}</p>
                    <p class="row-subtitle">{{seats.length}} seats</p>
                </div>
            </div>
        </li>
    {{/each}}
</ul>