<div data-bb="modalInner" class="fb-modal-inner">
    <div class="clearfix">
        <div class="pull-right">
            <a href="#" class="btn" data-bb="closeModal">&times;</a>
        </div>
    </div>
    <div data-replace="modalContent"></div>
</div>