.friends-list {
	max-height:300px;
	overflow-y:scroll;
	margin:-8px -13px;
	border-bottom:1px solid #ddd;
}

.friends-list .form-inline {
	padding:1% 0;
}

.friends-list .form-inline label {
	font-size:0.7em;
}

.friends-list .form-inline:nth-child(odd) {
	background:#f7f7f7;
}