<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>CFS Friends Demo</title>

    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/friends.css" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="backbone/underscore.js"></script>
    <script type="text/javascript" src="backbone/backbone.js"></script>

</head>
<body>

	<script type="text/template" id="friends-account-template">

		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span20">
					<% if(this.appState.get('loggedIn')) { %>
						<p class="lead">Hello, <%- this.user.get('first_name') %></p>
						<span class="btn friends-logout-button">Logout from Facebook</span>
					<% } else { %>
						<span class="btn friends-login-button">Login to Facebook</span>
					<% } %>
				</div>
			</div>
		</div>

	</script>

	<script type="text/template" id="friends-picker-template">

		<div class="container-fluid">
			<div class="row-fluid">
				<% if(this.appState.get('loggedIn')) { %>
					<div class="input-append">
						<input type="text" class="friends-input" placeholder="type a friend's name..." />
						<span class="btn add-on">Add</span>
					</div>
				<% } else { %>
					<span class="btn friends-login-button">Login to Facebook</span>
				<% } %>
			</div>
		</div>

	</script>

	<script type="text/template" id="friends-picker-popover-template">
		<div class="friends-list">
			<% this.user.friends.each(function (friend) { %>
				<div class="form-inline">
					<label class="checkbox offset1">
						<input type="checkbox" />
						<%- friend.get('name') %>
					</label>
				</div>
			<% }); %>
		</div>
		<br />
		<div class="row-fluid">
			<div class="span9">
				<span class="btn btn-small btn-block popover-close">cancel</span>
			</div>
			<div class="span9 offset2">
				<span class="btn btn-small btn-block popover-select">select</span>
			</div>
		</div>
	</script>

    <script type="text/javascript" src="friends/config.js"></script>
    <script type="text/javascript" src="friends/models.js"></script>
    <script type="text/javascript" src="friends/module.js"></script>
    <script type="text/javascript" src="friends/app.js"></script>
    <script type="text/javascript" src="friends/account.js"></script>
    <script type="text/javascript" src="friends/picker.js"></script>

	<div id="fb-root"></div>
    <script type="text/javascript" src="friends/fbstart.js"></script>
    
	<div class="container">
		<h2>CFS Friends Demo</h2>
		<hr />
		<div class="row-fluid">
			<div class="span10">
				<h4>Account Module</h4>
				<p>Allows the user to connect to facebook and handles login changes</p>
			</div>
			<div class="span10">
				<div class="friends-account"></div>
			</div>
		</div>
		<hr />
		<div class="row-fluid">
			<div class="span10">
				<h4>Friend Picker</h4>
				<p>Allows the user to pick from their list of friends.</p>
			</div>
			<div class="span10">
				<div class="friends-picker"></div>
			</div>
		</div>
		<hr />
	</div>


</body>
</html>
