<div class="playerWrap">
<div class="mediaPlayer large-12 medium-12 small-12">
	<div id="leftPanel" class="large-8 medium-8 small-12">
		
      <iframe id="ytPlayer" class="vimeo" src="{{mediaURL}}" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		
	</div>
	<div id="rightPanel" class="large-4 medium-4 small-12">
		<div class="rightPanelTopBar">
			<span class="closePlayerButton">X</span>
		</div>
		<div class="mediaItemInformation">
			<span class="title">{{title}}</span>
            <span class="subtitle">{{subtitle}}</span>
            <p>{{{description}}}</p>
		</div>
	</div>
</div>
</div>