<div class="dojoDndItem epi-overlay-block">
    <div data-dojo-attach-point="containerDomNode">
        <div class="epi-content-block-editor" data-dojo-attach-point="optimizingBlockItemNode">
            <div class="epi-optimizing-block">
                <span class="epi-content-block-node" style="height: auto;">
                    <span data-dojo-attach-point="labelNode" class="epi-block-title"></span>
                </span>
            </div>            
            <div data-dojo-attach-point="statisticNode"></div>
        </div>
    </div>
    <span class="epi-overlayControls epi-mediumButton epi-personalized" data-dojo-attach-point="personalizedIcon">
        <span class="dijitReset dijitInline dijitIcon epi-iconUsers"></span>
    </span>
    <button class="epi-chromelessButton epi-overlayControls epi-settingsButton epi-mediumButton" data-dojo-attach-point="settingsButton" data-dojo-type="dijit/form/DropDownButton" data-dojo-props="showLabel:false, title:'${res.settingstooltip}', iconClass:'epi-iconContextMenu'">
        <span data-dojo-attach-point="contextMenu" data-dojo-type="epi/shell/widget/ContextMenu"></span>
    </button>
</div>
