{{#if context.loggedIn}}
    <div class="button-inner">
        {{#if ready}}
            <a href="#" data-bb="createAction">
                {{#if event.onFacebook}}
                    View Event
                {{else}}
                    Create Event
                {{/if}}
            </a>
        {{else}}
            <img src="/images/dot_load.gif" />
        {{/if}}
    </div>
{{/if}}